
<div class="navbar-buttons">
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
                <a href="{{ .Site.BaseURL }}/docs/language">Documentation</a>
            </li>
            <li class="dropdown">
                <a href="{{ .Site.BaseURL }}/docs/ideas">Ideas</a>
            </li>
            <li class="dropdown">
                <a href="{{ .Site.BaseURL }}/docs/roadmap">Roadmap</a>
            </li>
            <li class="dropdown">
                <a href="{{ .Site.BaseURL }}/blog">Blog</a>
            </li>

            <li class="dropdown">
                <a href="https://github.com/jfecher/ante"><i class="fa fa-15x fa-github"></i></a>
            </li>
            <li class="dropdown">
                <a href="https://reddit.com/r/ante"><i class="fab fa-15x fa-reddit"></i></a>
            </li>
            <li class="dropdown">
                <a href="https://discord.gg/NPJncGBAws"><i class="fab fa-15x fa-discord"></i></a>
            </li>
            <li class="dropdown">
                <a href="{{ .Site.BaseURL }}/index.xml"><i class="fa fa-15x fa-rss"></i></a>
            </li>

            </ul>
        </div>
        <button type="button" class="navbar-toggle btn-template-main" onclick="document.getElementById('navigation').classList.toggle('collapse')">
    <span class="sr-only">{{ i18n "navToggle" }}</span>
        <i class="fa fa-align-justify"></i>
    </button>
</div>
