<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>Contents</h1>
    </div>

    <!-- ignore empty links with + -->
    {{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
    {{ $has_headers := ge (len $headers) 1 }}
    {{ if $has_headers }}
    <div class="table-of-contents toc bd-callout">
        <!-- TOC header -->
        {{ range $headers }}
            {{ $header := . }}
            {{ range first 1 (findRE "<h[1-6]" $header 1) }}
                {{ range findRE "[1-6]" . 1 }}
                    {{ $next_heading := (int .) }}
                    <!-- generate li array of the proper depth -->
                    {{ range seq $next_heading }}
                        <ul class="toc-h{{ . }}">
                    {{end}}
                    {{ $base := ($.Page.File.LogicalName) }}
                    {{ $anchorId := ($header | plainify | htmlEscape | urlize) }}
                    {{ $href := delimit (slice $base $anchorId) "#" | string }}
                    <a href="{{ relref $.Page $href }}">
                        <li>{{ $header | plainify | htmlEscape }}</li>
                    </a>
                    <!-- close list -->
                    {{ range seq $next_heading }}
                        </ul>
                    {{end}}
                {{end}}
            {{end}}
        {{ end }}
    </div>
    {{ end }}


    <!--p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p-->
  </div>
</div>
